{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% include '@OmniSyliusCmsPlugin/Frontend/_breadcrumb.html.twig' %}
    {{ omni_sylius_cms_render_node(node) }}
{% endblock %}

{% block metatags %}
    {{ omni_seo_meta() }}
{% endblock %}
