{% macro node_url(node) %}
    {% set url = omni_sylius_get_node_url(node) %}
    {% if url.url is empty %} {
        <span class="text">{{ node.translation.title }}</span>
    {% else %}
        <a href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}>{{ node.translation.title }}</a>
    {% endif %}
{% endmacro %}

{% macro node_item(node) %}
    {% import _self as macros %}

    {% if node.hasEnabledChildren %}
        <div class="ui dropdown item">
            {{ macros.node_url(node) }}
            <i class="dropdown icon"></i>
            <div class="menu">
                {% for child in node.children if child.enabled %}
                    {{ macros.node_item(child) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <span class="item">{{ macros.node_url(node) }}</span>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

<div class="ui large stackable menu">
    {% set headerNode = omni_sylius_get_node_with_children_by_type('main_menu', 6) %}

    {% for node in headerNode.children|default([]) if node.enabled %}
        {{ macros.node_item(node) }}
    {% endfor %}
</div>
