{% trans_default_domain 'OmniSyliusCmsPlugin' %}

{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@OmniSyliusCmsPlugin/Form/imagesTheme.html.twig' %}

<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}

        {{ form_row(form.type) }}

        {% if resource.id != null %}
            {{ form_row(form.parent) }}

            {% if omni_sylius_is_node_related(node) %}
                {{ form_row(form.relation) }}
            {% endif %}

            {% if omni_sylius_is_node_scopable(node) %}
                {{ form_row(form.channels) }}
            {% endif %}
        {% endif %}
    </div>

    {% if omni_sylius_is_node_image_aware(node) %}
        {{ form_row(form.images) }}
    {% endif %}

    <div class="two fields">
        {{ form_row(form.enabled) }}
        {% if form.slugFromRelation is defined %}
            {{ form_row(form.slugFromRelation) }}
        {% endif %}
    </div>
</div>

{{ translationForm(form.translations) }}
